// Variables
$base-unit: 10px;

// Colors
$primary-color: #f2f2f2;
$secondary-color: #e6e6e6;
$accent-color: #1e2640;
$bg-light-gray: #fafafa;
$bg-white: #ffffff;

// text color
$text-white-color: #ffffff;
$text-white-light-color: #d2d4d9;
$text-primary-color: #1a181e;
$text-secondary-color: #4d4d4d;
$link-text: #146eb4;

// border color
$borderColor: #d9d9d9;

// box-shadow
$boxShadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
