
// Variables
$base-unit: 10px;

// Colors
$primary-color: #F2F2F2;
$secondary-color: #E6E6E6;
$accent-color: #1E2640;
$bg-light-gray: #FAFAFA;
$bg-white: #ffffff;

// text color
$text-white-color: #ffffff;
$text-white-light-color:#D2D4D9;
$text-primary-color: #1A181E;
$text-secondary-color:#4D4D4D;
$link-text:#146EB4;

// border color
$borderColor: #D9D9D9;

// box-shadow
$boxShadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);