@import "../../assets/scss/styles.scss";

.layout {
  width: 100%;
  display: flex;
}

.header {
  padding: 1.2rem 3.2rem;
  @include flex-space-beetween;
  background-color: $bg-white;

  & .paymentWrapper {
    @include d-flex-center;

    & .paymentText {
      margin-right: 1.6rem;
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-weight: 400;
      color: $text-primary-color;
    }

    & .howItWorks {
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-weight: 400;
      color: $text-secondary-color;
      @include d-flex-center;

      & span {
        margin-left: 0.6rem;
      }
    }
  }

  .headerSearch {
    background-color: $primary-color;
    border-radius: 6px;
    width: 40%;
  }

  .iconBtnWrapper {
    @include d-flex-center;
    .button {
      margin-left: 1.2rem;
    }
  }
}

.contentArea {
  width: calc(100% - 224px);
  background-color: $bg-light-gray;
  height: 100vh;

  .contentAreaInner {
    padding: 3.2rem;

    .overviewWrapper {
      margin-bottom: 3.2rem;
    }

    .headingWrapper {
      @include flex-space-beetween;
      margin-bottom: 2.4rem;

      .heading {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 500;
        color: $text-primary-color;
      }
    }
  }
}

.cardWrapper {
  @include flex-space-beetween;
  gap: 2rem;
}

.tableInnerWrapper {
  padding: 1.2rem;
  background-color: $bg-white;
  box-shadow: $boxShadow;
  border-radius: 8px;

  .tableSearchWrapper {
    @include flex-space-beetween;
    margin-bottom: 1rem;

    & .tableSearch {
      border: 1px solid $borderColor;
      height: 4rem;
      border-radius: 4px;
      width: 24.8rem;

      & svg {
        top: 1.2rem;
      }
    }

    .buttonWrapper {
      display: flex;
    }
  }
}
